@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(27, 27, 27);
  color: #c9c9c9;
}

.gradient-text-color {
  background: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(219, 219, 219),
    rgb(140, 140, 140),
    rgb(134, 134, 134)
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.purple-gradient {
  background-image: repeating-linear-gradient(
    45deg,
    #e73492,
    #8107ee,
    rgb(0, 255, 213),
    rgb(0, 208, 255),
    #e73492
  );
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 10s ease infinite;
}

.red-gradient {
  background-image: repeating-linear-gradient(
    45deg,
    #ff2929,
    rgb(255, 191, 0),
    rgb(255, 132, 0),
    rgb(251, 255, 0),
    #ff2929
  );
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 10s ease infinite;
}

.green-gradient {
  background-image: repeating-linear-gradient(
    45deg,
    #00ff77,
    #1cff95,
    rgb(0, 255, 204),
    rgb(0, 255, 170),
    #1cff95
  );
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 6s ease infinite;
}
/*-----------------------------------------------*/
.bentos-container:hover .gradient-text-color {
  background-image: repeating-linear-gradient(
    45deg,
    #e73492,
    #8107ee,
    rgb(0, 255, 213),
    rgb(0, 208, 255),
    #e73492
  );
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 10s ease infinite;
}

.bentos-containerExp:hover .gradient-text-color {
  background-image: repeating-linear-gradient(
    45deg,
    #ff2929,
    rgb(255, 191, 0),
    rgb(255, 132, 0),
    rgb(251, 255, 0),
    #ff2929
  );
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 10s ease infinite;
}

.bentos-containerSkill:hover .gradient-text-color {
  background-image: repeating-linear-gradient(
    45deg,
    #00ff26,
    rgb(0, 255, 85),
    rgb(255, 255, 0),
    rgb(0, 255, 170),
    #00ff26
  );
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 10s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bentos-containerW {
  text-decoration: none;
}
